<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="Tutorilas Ninja Automation Suite">
<listeners>
	<listener class-name="com.tutorialsninja.qa.listeners.MyListeners" />
</listeners>
	<test name="Tutorials Ninja Tests">
		<classes>
			<class name="com.tutorialsninja.qa.testcases.RegisterTest" />
			<class name="com.tutorialsninja.qa.testcases.LoginTest" />
			<class name="com.tutorialsninja.qa.testcases.SearchTest" />
		</classes>
	</test> <!--Test -->
</suite> <!--Suite -->
